<template>
  <div id="map" class="mapstyle"></div>

  <script>
  var app = new Vue({
    el: '#map',
    
    data: {
    },

    mounted: function () {

      var _attribution = '';

      var scale_options = init_scale_options ();

      var zoom_options = init_zoom_options ();

      var cluster_options = init_cluster_options ();

      var wfstPointOptions = init_wfstPointOptions ();

      var options = init_map_options ( {{frontMatter.mapzoom}} );

      {{!-- var map = L.map('map', options ).setView([{{frontMatter.latlng}}], {{frontMatter.mapzoom}}); --}}
      {{!-- var map = L.map('map', options ).setView([{{frontMatter.latlng}}]); --}}

      var map = L.map('map', options ).fitBounds([[{{frontMatter.corner_NW}}],[{{frontMatter.corner_SE}}]]);

      // Grupo de marcadores
      var marker;
      var markers = L.markerClusterGroup( cluster_options );

      // Capas de fondo
      var stamen_layer_watercolor_low = new L.StamenTileLayer("watercolor", {attribution: '', attributionControl: false});
      var stamen_layer_watercolor_high = new L.StamenTileLayer("watercolor", {attribution: '', attributionControl: false});
      _attribution += 'Watercolor &amp; Toner tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>.';
      _attribution += 'Watercolor data by <a href="http://openstreetmap.org">OpenStreetMap</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.';

      // Capas de etiquetas
      var stamen_layer_tonerlines = new L.StamenTileLayer("toner-hybrid", {attribution: '', attributionControl: false});
      _attribution += 'Toner data by <a href="http://openstreetmap.org">OpenStreetMap</a>, <a href="http://www.openstreetmap.org/copyright">ODbL</a>.';
      
      stamen_layer_watercolor_low.options.maxNativeZoom = 14;
      stamen_layer_watercolor_high.options.maxNativeZoom = 17;
      {{!-- Poniendo minNativeZoom a 9 se consigue mejor definición, pero si hacemos zoom hacia afuera, pedimos demasiados datos y se notan las teselas --}}
      {{!-- stamen_layer_watercolor_high.options.minNativeZoom = 9; --}}

      {{#each pages}}
        {{#if frontMatter.loc}}
        {{#if frontMatter.hint}}
        {{#if url}}

          marker = L.marker(
              [{{frontMatter.loc}}],
              { title: '{{frontMatter.hint}}' }
            ).bindPopup ( '<h6><a href="{{url}}">{{frontMatter.hint}}</a><br/><span class="small">Tags: <i>{{frontMatter.tags}}</i></span></h6>' );
          markers.addLayer(marker);

        {{/if}}  
        {{/if}}
        {{/if}}
      {{/each}}

      map.addLayer(stamen_layer_watercolor_low);
      map.addLayer(stamen_layer_watercolor_high);
      map.addLayer(stamen_layer_tonerlines);
      {{!-- map.addLayer(etiquetas_layer); --}}
      {{!-- etiquetas_layer.addTo(map); --}}

      map.addLayer(markers);

      var attribution_options = init_attribution_options ();

      // Comprobamos qué evento se dispara el último: zoomend o moveend
      map.on('zoomend', function (e) {
        console.debug('Mapa: zoomend');
      });
      map.on('moveend', function (e) {
        console.debug('Mapa: moveend');
      });
      // Parece que moveend se dispara siempre y además se dispara siempre el último

       {{!-- L.control.attribution( attribution_options ).removeAttribution('Map tiles by <a href="http://stamen.com/">Stamen Design</a>, ').addAttribution( _attribution ).addTo ( map ); --}}

      L.control.scale ( scale_options ).addTo ( map );

      L.control.zoom ( zoom_options ).addTo ( map );

      {{!-- L.Control.TimeDimension ().addTo ( map ); --}}
    }
  });
  </script>
</template>

