<template>
  <div id="map" class="mapstyle"></div>

  <script>
  var app = new Vue({
    el: '#map',
    
    data: {
    },

    mounted: function () {
      var options = {
        zoom: {{frontMatter.mapzoom}},
      // Con un nivel 14 minimizaríamos los errores 503 del servidor, pero no los eliminamos (p.e. suroeste de Linares en nivel 15)
        maxZoom: 16,
        minZoom: 5,
        zoomDelta: 0.5,
        zoomSnap: 0.5,
        zooms: [5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14, 14.5, 15, 15.5, 16],
        zoomControl:true
      }

      {{!-- var map = L.map('map', options ).setView([{{frontMatter.latlng}}], {{frontMatter.mapzoom}}); --}}
      {{!-- var map = L.map('map', options ).setView([{{frontMatter.latlng}}]); --}}
      var map = L.map('map', options ).fitBounds([[{{frontMatter.corner_NW}}],[{{frontMatter.corner_SE}}]]);

      //L.Icon.Default.imagePath = 'assets/images';
/*
      // it is required to show attribution to see the map
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
//        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
*/
      var marker;
      var markers = L.markerClusterGroup();
      var stamen_layer_watercolor = new L.StamenTileLayer("watercolor");
      var stamen_layer_tonerlines = new L.StamenTileLayer("toner-hybrid");

      stamen_layer_watercolor.options.maxNativeZoom = 14;

      {{#each pages}}
        {{#if frontMatter.latlng}}
        {{#if frontMatter.hint}}
        {{#if url}}

          marker = L.marker(
              [{{frontMatter.latlng}}],
              { title: '{{frontMatter.hint}}' }
            ).bindPopup ( '<h6><a href="{{url}}">{{frontMatter.hint}}</a><br/><span class="small">Tags: <i>{{frontMatter.tags}}</i></span></h6>' );
          markers.addLayer(marker);

        {{/if}}  
        {{/if}}
        {{/if}}
      {{/each}}

      map.addLayer(stamen_layer_watercolor);
      map.addLayer(stamen_layer_tonerlines);
      map.addLayer(markers);

      map.addControl( new L.Control.Search({
        container: 'findbox',
        layer: markers,
        initial: false,
        collapsed: false
      }) );
      //inizialize search control
    }
  });
  </script>
</template>

