<template>
  <div id="map" class="mapstyle"></div>

  <script>
  var app = new Vue({
    el: '#map',
    
    data: {
    },

    mounted: function () {
      var options = {
      // Con un nivel 14 minimizamos los errores 503 del servidor, pero no los eliminamos (p.e. suroeste de Linares en nivel 15)
        maxZoom: 14,

      }

      var map = L.map('map', options ).setView([{{frontMatter.latlng}}], {{frontMatter.mapzoom}});
      //L.Icon.Default.imagePath = 'assets/images';
/*
      // it is required to show attribution to see the map
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
//        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
*/
      var marker;
      var markers = L.markerClusterGroup();
      var stamen_layer_watercolor = new L.StamenTileLayer("watercolor");
      var stamen_layer_tonerlines = new L.StamenTileLayer("toner-hybrid");

      {{#each pages}}
        {{#if frontMatter.latlng}}
        {{#if frontMatter.hint}}
        {{#if url}}

          marker = L.marker([{{frontMatter.latlng}}]).bindPopup('<h6><a href="{{url}}">{{frontMatter.hint}}</a><br/><span class="small">Tags: <i>{{frontMatter.tags}}</i></span></h6>');
          markers.addLayer(marker);

        {{/if}}  
        {{/if}}
        {{/if}}
      {{/each}}

      map.addLayer(stamen_layer_watercolor);
      map.addLayer(stamen_layer_tonerlines);
      map.addLayer(markers);
    }
  });
  </script>
</template>

