<template>
  {{!-- Plantilla no usada por ahora --}}
  <h6>Enlace: <a href="{{url}}" aria-label="{{frontMatter.hint}}">{{frontMatter.hint}}</a></h6>
  <script>
    console.log("URL:" + {{url}});
    console.log("Hint:" + {{frontMatter.hint}});
  </script>
</template>
