<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" aria-label="Barra de navegación">
      {{!-- <a class="navbar-brand text-light" href="/">{{config.title}}</a> --}}
      {{#if frontMatter.back_link}}
      <a id="back_link" href="javascript:history.back()" aria-label="Volver">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <script>
        // Desde https://stackoverflow.com/questions/8814472/how-to-make-an-html-back_link
        // Respuesta: https://stackoverflow.com/posts/46163215
          var element = document.getElementById('back_link');

        // Provide a standard href to facilitate standard browser features such as 
        //  - Hover to see link
        //  - Right click and copy link
        //  - Right click and open in new tab
        element.setAttribute('href', document.referrer);

        // We can't let the browser use the above href for navigation. If it does, 
        // the browser will think that it is a regular link, and place the current 
        // page on the browser history, so that if the user clicks "back" again,
        // it'll actually return to this page. We need to perform a native back to
        // integrate properly into the browser's history behavior
        element.onclick = function() {
          history.back();
          return false;
        }
      </script>
      {{/if}}
      <a class="navbar-brand text-light font-weight-bold" href="{{config.indexPage}}" aria-label="Página principal">{{config.title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div div class="collapse navbar-collapse" id="collapsingNavbar" aria-label="Menú">
        <div class="navbar-nav">
          {{#each config.menuItems}}
          <a class="nav-item nav-link text-light" href="{{url}}/" aria-label="{{name}}">{{name}}</a>
          {{/each}}
          {{#if frontMatter.search}}
          <div id="findbox" aria-label="Buscar"></div>
          {{/if}}
        </div>
      </div>
  </nav>
</template>
